  body{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding-bottom: 2em;
  }
  
  .center{
    margin: 0 auto;
    width: 70%;
  }
  
  .t-center{
    text-align: center;
  }
  
  hr{
    border:1 solid #eaeaea;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
  }
  
  ul{
    line-height: 2;
  }
  
  h1, h2{
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
  
  h1{
    font-size: 2.25em;
    font-weight: 800;
    color: #f25c65;
  }
  
  h2{
    color: #555;
    font-size: 1.75em;
    font-weight: 800;
  }
  
  .date{
    font-size: 15px;
    color: #888;
  }
  
  
  
  
